
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=guptavasudev73@gmail.com
MAIL_PASS=jtax rxww ussr ggrg
JWT_SECRET="vasudev"
FOLDER_NAME="Codingplace"
PORT=4000


MONGODB_URL=mongodb+srv://guptavasudev73_db_user:1n99EzmBoFfa5h5w@cluster0.o1lwgom.mongodb.net/

CLOUD_NAME=dftxyyi4w
API_KEY=167917154794445
API_SECRET=e_-SY-B6PUs1Gg_NZeIhliXDjGM
